body {
	background: $color-background;
	color: $color-primary;
	font-family: $font-stack-primary;
}

.nav-icon-wrapper {
	height: 40px;
	width: 40px;
	margin: auto;
}
	
.nav-icons {
	display: flex;
	justify-content: flex-end;
	padding-top: 16px;
	margin-left: 0;
	float: right;

	.nav-button {
		border: 2px solid $color-primary;
		box-shadow: $shadow-level-01;
		background: $color-background;
		padding: 8px 24px;
		transition: 240ms;

		&:hover {
			box-shadow: $shadow-level-03;
		    transform: translateY(-1px);
		}

		span.arrow-next {
			padding-left: 16px;
		}

		span.arrow-back {
			padding-right: 16px;
		}
	}

	a {
		color: $color-primary;
		font-weight: 700;
		margin-left: 24px;
	}

	/*span.nav-this {
		font-weight: 700;
		height: 48px;
		text-align: center;
		padding: 8px;
		margin-left: 24px;
	}*/
}

.logo-box h1 {
	font-size: 4rem;
}

.news-page .logo-wrapper,
.sales-page .logo-wrapper,
.purchase-page .logo-wrapper,
.consultancy-page .logo-wrapper, {
	max-width: 88px;
}

h4 {
	font-weight: 700;
}

h5 {
	margin-bottom: .5rem;
}

h6 {
	margin-bottom: .5rem;
}



.logo-box {
	margin-top: 32px;
}

.process {
	padding-top: 48px;
	padding-bottom: 96px;
}

.six {
	margin-top: 16px;
}

article {
	background: $color-background;
}





/* News Analysis App
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.news-page {
	.case-page-hero {
		background: $color-primary-01;
	}	

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-news {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}



/* sales analysis app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.sales-page {
	.case-page-hero {
		background: $color-primary-02;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-sales {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}



/* purchase & procurement app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.purchase-page {
	.case-page-hero {
		background: $color-primary-03;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-purchase {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}

}



/* consultancy app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.consultancy-page {
	.case-page-hero {
		background: $color-primary-04;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-consultancy {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}

}








/* process blueprint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.process-page {
	background: $color-process-secondary;
	border: 10px solid $color-process-primary;
	color: $color-process-primary;

	h1,
	h2,
	h4,
	h6,
	p {
		color: $color-process-primary;
		/* color: #999; */
	}


	header .five {
		margin-top: 1%;
		text-align: right;
	}

	@media (max-width: 550px) {
		header,
		header .five {
			text-align: center;
		}

		.process-img>div:last-child {
			margin-top: 24px;
		}
	}

	.process {
		margin-top: 48px;
		padding-bottom: 48px;
	}

	.process-img {
		margin-top: 16px;
		text-align: left;
	}

	.nav-icons .nav-button {
		background: $color-process-secondary;
		border: 2px solid $color-process-primary;
		color: $color-process-primary;
	}

	img {
		width: 64%;
	}

	svg {
		width: 56%;
		top: 0;
	}

	article {
		background: $color-process-secondary;
	}



	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-process {
		border-top: 1px dotted $color-process-primary;
		border-bottom: 1px dotted $color-process-primary;
		padding-top: 48px;

		span {
			color: $color-process-primary;
		}

		.five {
			margin-bottom: 32px;
		}

		.one {
			text-align: center;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 0;
		}
	}

	.icon-understand,
	.icon-define,
	.icon-ideate,
	.icon-design,
	.icon-test {
		fill: $color-process-primary;
		height: 32px;
		width: 32px;
	}

	/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-process-secondary;

		a {
			color: $color-process-primary !important;
		}
	}


	.social a svg.social-icon {
    background: $color-process-secondary;
    fill: $color-process-primary;
}

}


















