body {
	background: $color-background;
	color: $color-primary;
	font-family: $font-stack-primary;
}

.nav-icon-wrapper {
	height: 40px;
	width: 40px;
	margin: auto;
}
	
.nav-icons {
	display: flex;
	justify-content: flex-end;
	padding-top: 16px;
	margin-left: 0;
	float: right;

	.nav-button {
		border: 2px solid $color-primary;
		box-shadow: $shadow-level-01;
		background: $color-background;
		padding: 8px 24px;
		transition: 240ms;

		&:hover {
			box-shadow: $shadow-level-03;
		    transform: translateY(-1px);
		}

		&:active {
			box-shadow: $shadow-level-01;
		    transform: translateY(1px);
		}

		span.arrow-next {
			padding-left: 16px;
		}

		span.arrow-back {
			padding-right: 16px;
		}

		span.nav-text-hide {

		}
	}

	a {
		color: $color-primary;
		font-weight: 700;
		margin-left: 24px;
	}
}



.bottom-nav-group {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 16px;
	margin-left: 0;
	margin-top: 32px;

	.nav-button {
		border: 2px solid $color-primary;
		box-shadow: $shadow-level-03;
		background: #ffffff;
		padding: 8px 24px;
		transition: 240ms;

		&:hover {
			box-shadow: $shadow-level-03;
		    transform: translateY(-1px);
		}

		&:active {
			box-shadow: $shadow-level-01;
		    transform: translateY(1px);
		}

		span.arrow-next {
			padding-left: 16px;
		}

		span.arrow-back {
			padding-right: 16px;
		}
	}

	a {
		color: $color-primary;
		font-weight: 700;
	}
}

.logo-box h1 {
	font-size: 4rem;
}

.news-page .logo-wrapper,
.sales-page .logo-wrapper,
.purchase-page .logo-wrapper,
.consultancy-page .logo-wrapper, {
	max-width: 88px;
}

h4 {
	font-weight: 700;
}

.news-page h5,
.sales-page h5,
.purchase-page h5,
.consultancy-page h5 {
	font-size: 1.75rem;
}


h5 {
	margin-bottom: .5rem;
}

h6 {
	margin-bottom: .5rem;
}



.logo-box {
	margin-top: 32px;
}

.process {
	padding-top: 48px;
	padding-bottom: 96px;
}

.six {
	margin-top: 16px;
}

article {
	background: $color-background;
}





/* News Analysis App
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.news-page {
	.case-page-hero {
		background: $color-primary-01;
	}	

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-news {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.understand-title-fix {
			margin-top: 8px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}



/* sales analysis app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.sales-page {
	.case-page-hero {
		background: $color-primary-02;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-sales {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}



/* purchase & procurement app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.purchase-page {
	.case-page-hero {
		background: $color-primary-03;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-purchase {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}

}



/* consultancy app
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.consultancy-page {
	.case-page-hero {
		background: $color-primary-04;
	}

	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-consultancy {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			box-shadow: $shadow-level-01;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}

}



/* process blueprint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.process-page {
	background: $color-process-secondary;
	border: 10px solid $color-process-primary;
	color: $color-process-primary;

	h1,
	h2,
	h4,
	h6,
	p {
		color: $color-process-primary;
		/* color: #999; */
	}


	header .five {
		margin-top: 1%;
		text-align: right;
	}



	.process {
		margin-top: 48px;
		padding-top: 0;
		padding-bottom: 48px;
	}

	.process-img {
		margin-top: 16px;
		text-align: left;
	}

	.nav-icons .nav-button {
		background: $color-process-secondary;
		border: 2px solid $color-process-primary;
		color: $color-process-primary;
	}

	img {
		width: 64%;
	}

	article {
		background: $color-process-secondary;
	}

	.case-page-hero div > svg,
	.process div > svg {
		width: 56%;
		top: 0;
	}

	.bottom-nav-icons {
		display: flex;
		justify-content: center;
		padding-top: 16px;
		margin-left: 0;
		margin-top: 32px;

		.nav-button {
			color: $color-process-primary;
			border: 2px solid $color-process-primary;
			box-shadow: $shadow-level-01;
			background: $color-process-secondary;
			padding: 8px 24px;
			transition: 240ms;

			&:hover {
				box-shadow: $shadow-level-03;
			    transform: translateY(-1px);
			}

			&:active {
				box-shadow: $shadow-level-01;
			    transform: translateY(1px);
			}			
		}

		a {
			color: $color-process-primary;
		}
	}



	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article-process {
		border-top: 1px dotted $color-process-primary;
		border-bottom: 1px dotted $color-process-primary;
		padding-top: 48px;
		padding-bottom: 32px;

		span {
			color: $color-process-primary;
		}

		.five {
			margin-bottom: 32px;
		}

		.one {
			text-align: center;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 0;
		}
	}

	.icon-understand,
	.icon-define,
	.icon-ideate,
	.icon-design,
	.icon-test {
		fill: $color-process-primary;
		height: 32px;
		width: 32px;
	}

	/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-process-secondary;

		a {
			color: $color-process-primary !important;
		}
	}


	.social a svg.social-icon {
    background: $color-process-secondary;
    fill: $color-process-primary;
}

}








@media (max-width: 1440px) {
	.process {
		padding-bottom: 80px;
	}
	body.news-page .article-news .approach {
	    margin-top: 64px;
	}
}

@media (max-width: 1255px) {
	body.consultancy-page .nav-icons span.nav-text-hide {
			display: none;
		}
}



@media (max-width: 1200px) {
	.process {
	    padding-bottom: 64px;
	}
	body.news-page .article-news,
	body.sales-page .article-sales,
	body.purchase-page .article-purchase,
	body.consultancy-page .article-consultancy {
	    padding-top: 88px;
	}
	body.news-page .article-news .brief,
	body.sales-page .article-sales .brief,
	body.purchase-page .article-purchase .brief,
	body.consultancy-page .article-consultancy .brief {
	    margin-bottom: 24px;
	}

	body.news-page .article-news .result,
	body.sales-page .article-sales .approach,
	body.sales-page .article-sales .result, 
	body.purchase-page .article-purchase .approach,
	body.purchase-page .article-purchase .result,
	body.consultancy-page .article-consultancy .approach,
	body.consultancy-page .article-consultancy .result {
	    margin-top: 64px;
	    margin-bottom: 32px;
	}
	br {
		display: none;
	}
	body.process-page .case-page-hero div > svg,
	body.process-page .process div > svg {
	    width: 80%;
	}
	body.process-page img {
	    width: 100%;
	}
	.article-process .one {
		width: 5%;
	}
	.article-process .three {
		width: 100%;
		margin-left: 0;
	}
	.article-process .five {
		width: 39%;
	}
	.article-process .nine {
		width: 100%;
	}
}


@media (max-width: 1170px) {
	body.purchase-page .nav-icons span.nav-text-hide {
			display: none;
		}
}


@media (max-width: 1160px) {
	body.sales-page .nav-icons span.nav-text-hide {
			display: none;
		}
}


@media (max-width: 1012px) {
	body.process-page .nav-icons span.nav-text-hide {
			display: none;
		}
}


@media (max-width: 992px) {
	body.news-page .nav-icons span.nav-text-hide {
			display: none;
		}
}


@media (max-width: 800px) {
	.process .six.columns {
		width: 100%;
		margin-left: 0;	
	}
	.process {
	    padding-bottom: 40px;
	}
}


@media (max-width: 620px) {
	.six.columns.logo-box {
		width: 100%;
	}
	.logo-box h1 {
	    font-size: 3rem;
	}
	.nav-icons {
		display: none;
	}
	.process h1 {
		font-size: 4rem;
	}
	body.process-page img {
	    width: 100%;
	}
	body.process-page .process {
	    margin-top: 24px;
	    padding-bottom: 40px;
	}
		body.process-page img {
	    width: 100%;
	}
	.article-process .one {
		width: 20%;
	}
	.article-process .five {
		width: 72%;
	}
	.news-page .logo-wrapper,
	.sales-page .logo-wrapper,
	.purchase-page .logo-wrapper,
	.consultancy-page .logo-wrapper {
	    max-width: 64px;
	}

	.news-page h1,
	.sales-page h1,
	.purchase-page h1,
	.consultancy-page h1 {
	    margin-bottom: 4px;
	}
}


@media (max-width: 570px) {
	span.left-arrow {
		display: none;
	}
}	


@media (max-width: 550px) {
	.process h1 {
	    font-size: 3.75rem;
	}

	.process {
		padding-top: 24px;
	    padding-bottom: 40px;
	}

	body.news-page .article-news,
	body.sales-page .article-sales,
	body.purchase-page .article-purchase,
	body.consultancy-page .article-consultancy {
	    padding-top: 64px;
	}

	body.news-page .article-news .contributions {
	    margin-top: 40px;
	}

	.four-disappear {
		display: none;
	}

	.bottom-nav-group {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;

		.bottom-nav-icons:first-child .nav-button {
			text-align: left;
		}
		.bottom-nav-icons:last-child .nav-button {
			text-align: right;
		}

		.bottom-nav-icons {
			width: 80%;
		}

		.bottom-nav-icons:last-child {
			margin-bottom: 16px;
		}
	}
}


@media (max-width: 420px) {
	.article-process .one {
		width: 16%;
	}
	.article-process .five {
		width: 72%;
		margin-left: 16px;
	}
}








































































