<<<<<<< HEAD
/*----------------------
	body
----------------------*/
body {
	font: 1em 'Merriweather Sans', sans-serif;
	line-height: 1.125;
	font-weight: 400;
}

#wrapper {
	background: #829AB5 url("../img/wavegrid/wavegrid.png");
	height: 1000px;
	position: relative;
	z-index: 400;
	color: #fff;
}


/*----------------------
	header
----------------------*/
header {
	background: #3C9955;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

nav {
	margin: 0 auto;
	width: 100%;
}

nav h4 {
	color: #3A3A3A;
	float: left;
	margin: 0 10px 15px 10px;
}

nav li {
	float: right;
	list-style: none;
	margin: 0 10px 0 150px;
}

nav a {
	color: #fff;
	text-decoration: none;
}


/*----------------------
	article
----------------------*/
#main {
	margin-top: 60px;
}

#main,
#info {
	background: #3A3A3A;
	border-radius: 10px;
	box-shadow: inset 1px 1px 0;
}

section h3 {
	font-family: 'Archivo Black', sans-serif;
	color: #3C9955;
	padding: 0 40px;
	font-size: 1.5em;
}


/*----------------------
	main box
----------------------*/
#main img {
	background: #3A3A3A;
	border-radius: 15px;
	clear: left;
	float: left;
	width: 275px;
	margin: 1.5%;
	padding: 1%;	
}

#main h1 {
	font-family: 'Archivo Black', sans-serif;
	color: #3C9955;
	font: 4em;
	text-transform: uppercase;
}


/*----------------------
	info box
----------------------*/
#info h3 {
	float: left;
	padding: .5% 2%;
	font-size: 1.5em;
	text-transform: uppercase;
}

#info p {
	padding: 1%;
}

/*----------------------
	thirds
----------------------*/
section a {
	color: #fff;	
	background: #3A3A3A;
	border-radius: 10px;
	box-shadow: 10px 10px 20px;
	height: 200px;
	text-decoration: none;
	width: 30%;

	-webkit-duration: .5s;
	-moz-duration: .5s;
	-o-duration: .5s;
	transition-duration: .5s;
}

section a:hover {
	background: rgba(44, 114, 158, .9);
}

#gallery p,
#portfolio p,
#resume p {
	padding: 0 1em;
}

#gallery,
#portfolio,
#resume {
}


/*----------------------
	footer
----------------------*/
footer {
	clear: both;
	float: left;
	background: #3A3A3A;
	border-radius: 10px;
	box-shadow: inset 1px 1px 0;
	width: 100%;
}

footer h3 {
	color: #3C9955;
	float: left;
	font-family: 'Archivo Black', sans-serif;
	padding: .5% 2%;
	font-size: 1.5em;
	text-transform: uppercase;
}


footer li {
	background: #3C9955;
	border-radius: 5px;
	float: left;
	list-style: none;
	margin: 1.2% 2%;
	height: 30px;
	width: 30px;
}

.facebook,
.twitter {
	padding: 5px;
}

.googleplus,
.in {
	padding: 4px;
}

#facebook:hover {
	background: #3b5998;
}

#googleplus:hover {
	background: #d94a38;
}

#in:hover {
	background: #0075a1;
}

#twitter:hover { 
	background: #22b1e5;
}

/*----------------------
 media queries - medium
----------------------*/
@media screen and (max-width : 1024px) {
	

img {
	max-width: 150px;
}

}


/*----------------------
 media queries - small
----------------------*/
@media screen and (max-width : 650px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}


























