/*----------------------
	body
----------------------*/
body {
	background: #829AB5 url("../img/wavegrid/wavegrid.png");
	font: 1em 'Merriweather Sans', sans-serif;
	line-height: 1.125;
}


section h3 {
	font-family: 'Raleway', sans-serif;
	color: #8C2E2E;
	padding: 0 40px;
	font-size: 1.75em;
}


/*----------------------
	header
----------------------*/
header {
	background: #838385;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}

nav {
	margin: 0 auto;
	width: 100%;
}

.navimage {
	background: url("../img/logo.png") center no-repeat;
	height: 103px;
	width: 300px;
	text-indent: -9999px;
	color: #3A3A3A;
	float: left;
	margin: -10px 0 10px 20px;
}

nav ul {
	padding-top: 4%;
}

nav li {
	list-style: none;
}

nav a {
	float: right;
	color: #fff;
	text-decoration: none;
	margin-left: 10%;
}


/*----------------------
	article
----------------------*/
#main {

}

#main {
	background: #FFF;
	border-radius: 10px;
	/*box-shadow: inset 1px 1px 0;*/
	margin: 150px 0 2% 0;
	padding: 2%
}


/*----------------------
	main box
----------------------*/
#main img {
	float: left;
	background: #3A3A3A;
	border-radius: 15px;
	width: 100%;
	margin: 1.5%;
}



#main h1 {
	font-family: 'Raleway', sans-serif;
	color: #8C2E2E;
	font: 4em;
	text-transform: uppercase;
}


/*----------------------
	info box
----------------------*/

/*
#info {
	margin-top: 1%;
}

#info h3 {
	float: left;
	padding: .5% 2%;
	font-size: 1.5em;
	text-transform: uppercase;
}

#info p {
	padding: 1%;
}
*/

/*----------------------
	thirds
----------------------*/
section a {
	color: #000;	
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;
	min-height: 283px;
	text-decoration: none;
	width: 30%;

	-webkit-duration: .5s;
	-moz-duration: .5s;
	-o-duration: .5s;
	transition-duration: .5s;
}

section a:hover {
	background: rgba(131,131,133,.2);
}

#gallery p,
#portfolio p,
#resume p {
	padding: 0 1em;
}


/*----------------------
	footer
----------------------*/
footer {
	clear: both;
	float: left;
	background: #838385;
	border-radius: 10px;
	/*box-shadow: inset 1px 1px 0;*/
	width: 100%;
}

footer h3 {
	color: #8C2E2E;
	float: left;
	font-family: 'Raleway', sans-serif;
	padding: .5% 2%;
	font-size: 1.5em;
	text-transform: uppercase;
}


footer li {
	background: #3A3A3A;
	border-radius: 5px;
	float: left;
	list-style: none;
	margin: 1.2% 1.9%;
	height: 30px;
	width: 30px;
}

.facebook,
.twitter {
	padding: 5px;
}

.googleplus,
.in {
	padding: 4px;
}

.mail {
	width: 20px;
	padding: 5px;
}

#facebook:hover {
	background: #3b5998;
}

#googleplus:hover {
	background: #d94a38;
}

#in:hover {
	background: #0075a1;
}

#twitter:hover { 
	background: #22b1e5;
}

#mail:hover { 
	background: #8C2E2E;
}

/*----------------------
 media queries - medium
----------------------*/
@media screen and (max-width: 1123px) {

	#main img{
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	#main {
		padding: 5%;
	}

}


/*----------------------
 media queries - small
----------------------*/
@media screen and (max-width: 800px) {

	nav a {

	}

	nav li {
		
	}

}


/*----------------------
 media queries - smaller
----------------------*/
@media screen and (max-width: 650px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}



	#main {
		margin-top: 150px;
	}

	#main img {
		margin: auto;
		width: 100%;

	}

	section a {
		min-height: 193px;
	}

}
























