/*********************************
----------------------------------
		body
----------------------------------
*********************************/
body {
	background: #829AB5 url("../img/wavegrid/wavegrid.png");
	font: 1em 'Merriweather Sans', sans-serif;
	line-height: 1.125;
}


section h3 {
	font-family: 'Raleway', sans-serif;
	color: #8C2E2E;
	padding: 0 40px;
	font-size: 1.75em;
}


/*********************************
----------------------------------
		header
----------------------------------
*********************************/
header {
	background: #838385;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}

nav {
	margin: 0 auto;
	width: 100%;
}

.navimage {
	background: url("../img/logo.png") center no-repeat;
	height: 103px;
	width: 300px;
	text-indent: -9999px;
	color: #3A3A3A;
	float: left;
	margin: -10px 0 10px 25px;
}

nav ul {
	padding-top: 4%;
}

nav li {
	list-style: none;
}

nav a {
	float: right;
	color: #fff;
	text-decoration: none;
	margin-left: 10%;

	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

nav a:hover {
	color: #1E5696;
}



/*********************************
----------------------------------
		article
----------------------------------
*********************************/
#main {

}

#main {
	background: #FFF;
	border-radius: 10px;
	margin: 150px 0 2% 0;
	padding: 2%
}


/*********************************
----------------------------------
		main box
----------------------------------
*********************************/
#main img {
	float: left;
	background: #3A3A3A;
	border-radius: 15px;
	width: 100%;
	margin: 1.5%;
}



#main h1 {
	font-family: 'Raleway', sans-serif;
	color: #8C2E2E;
	font: 4em;
	text-transform: uppercase;
}


/*********************************
----------------------------------
		thirds
----------------------------------
*********************************/
section a {
	color: #000;	
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;
	min-height: 283px;
	text-decoration: none;
	width: 30%;

	-webkit-transition: background .5s;
	-moz-transition: .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

section a:hover {
	background: rgba(131,131,133,.2);
}

#gallery p,
#portfolio p,
#resume p {
	padding: 0 1em;
}

h3 + p,
h1 + p {
	text-indent: 25px;
}


/*********************************
----------------------------------
		footer
----------------------------------
*********************************/
footer {
	clear: both;
	float: left;
	background: #838385;
	border-radius: 10px;
	width: 100%;
}

footer h3 {
	color: #8C2E2E;
	float: left;
	font-family: 'Raleway', sans-serif;
	padding: .5% 2%;
	font-size: 1.5em;
	text-transform: uppercase;
}


footer li {
	background: #3A3A3A;
	border-radius: 5px;
	float: left;
	list-style: none;
	margin: 1.2% 1.5%;
	height: 30px;
	width: 30px;
}

.facebook,
.twitter {
	padding: 5px;
}

.googleplus,
.in {
	padding: 4px;
}

.mail {
	width: 20px;
	padding: 5px;
}

#facebook:hover {
	background: #3b5998;
}

#googleplus:hover {
	background: #d94a38;
}

#in:hover {
	background: #0075a1;
}

#twitter:hover { 
	background: #22b1e5;
}

#mail:hover { 
	background: #8C2E2E;
}


/*********************************
----------------------------------
	media queries - medium
----------------------------------
*********************************/
@media screen and (max-width: 1123px) {

	#main img{
		display: block;
		max-width: 301px;
		width: 100%;
		margin: 10% auto auto auto;
	}

	#main {
		padding: 5%;
	}

}


/*********************************
----------------------------------
	media queries - small
----------------------------------
*********************************/
@media screen and (max-width: 800px) {

	nav a {
		padding: 15px 20px 0 10px;
		width: 65%;
	}

	nav ul {
		float: left;
		clear: left;
		padding: 0 0 0 25px;
		margin-top: 0;
	}

	nav li {
		float: right;
		clear: left;
		padding-left: 12px;
	}

	.navimage {
		margin: 0 0 -10px 15px;
	}

	#main {
		padding: 1% 5%;
		margin-top: 175px;
		-webkit-transition: margin .5s;
	}

	#main img{
		margin-top: 40%;
		max-width: 100%;
	}

	/*for the section buttons to be two-column*/
	.grid_4 {
		width: 48%;
		-webkit-transition: all .5s;
	}

}


/*********************************
----------------------------------
	media queries - smaller
----------------------------------
*********************************/
@media screen and (max-width: 650px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}


	#main img {
		margin: auto auto auto 20%;
		max-width: 200px;
		width: 100%;

	}

	section a {
		min-height: 193px;
	}

}

/*********************************
----------------------------------
	gallery
----------------------------------
*********************************/

.illustrator a {
	margin-top: 60%;
	border-radius: 4px;
	border: none;
}

.illustrator {
	margin-top: 200px;
}





